MongoDB/src/main/mule/mongodbmulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <http:listener-config name="mongodbmulesoft-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mongodbmulesoft-config" api="mongodbmulesoft.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="3d2b8494-8eb3-4d2c-b815-24857b2a6d89" >
		<mongo:connection-string-connection connectionString="mongodb+srv://anu:*****@cluster1.vsxpnio.mongodb.net/*****" />
	</mongo:config>
	<flow name="mongodbmulesoft-main">
        <http:listener config-ref="mongodbmulesoft-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mongodbmulesoft-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mongodbmulesoft-console">
        <http:listener config-ref="mongodbmulesoft-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mongodbmulesoft-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\putemp:application\json:mongodbmulesoft-config">
        <mongo:update-documents collectionName="NNRG_Employees" doc:name="Update documents" doc:id="7df6b647-87c5-421f-a21c-88326a81bcc3" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[empNum:payload.empNum]]]></mongo:query>
			<mongo:content-to-update ><![CDATA[#[{
	empFirstName:payload.empFirstName
}]]]></mongo:content-to-update>
		</mongo:update-documents>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\delete\(emp):mongodbmulesoft-config">
        <ee:transform doc:name="Transform Message" doc:id="4e42bf6f-5f62-4eb5-a616-6f012327336e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
emp:attributes.uriParams.emp]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:remove-documents collectionName="NNRG_Employees" doc:name="Remove documents" doc:id="37c912fc-0f02-4ae6-bef4-13e4240444c7" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[empNum:payload.emp]]]></mongo:query>
		</mongo:remove-documents>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"success"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\get\(emp):mongodbmulesoft-config">
		<ee:transform doc:name="Transform Message" doc:id="96091d99-2871-431b-8b9a-e457e29c17bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
emp:attributes.uriParams.emp]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents doc:name="Find documents" doc:id="90db4292-e6be-40fe-9eec-f05087ebd368" config-ref="MongoDB_Config" collectionName="NNRG_Employees" fields="empNum,empFirstName,empLastName,empSalary">
			<mongo:query ><![CDATA[#[empNum:payload.emp]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="39c3c777-c185-40eb-b88f-a0d313e5f2b5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\getemps:mongodbmulesoft-config">
		<mongo:find-documents collectionName="NNRG_Employees" fields="empNum,empFirstName,empLastName,empSalary" doc:name="Find documents" doc:id="4fa23b56-de05-45f7-aff5-d1a7d630e1ef" config-ref="MongoDB_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="b9321389-14df-4b84-b013-788cbe9e0192" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\postemp:application\json:mongodbmulesoft-config">
        <mongo:insert-document collectionName="NNRG_Employees" doc:name="Insert document" doc:id="93ca63b1-14d7-45e5-88f3-6d3bdda66c51" config-ref="MongoDB_Config"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload."_id"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="mongodbmulesoftFlow" doc:id="350bcd86-9ba3-4a5e-bfd9-7775d3ef7e16">
		<ee:transform doc:name="Transform Message" doc:id="88c2c20b-9c2f-4bc7-972f-a3e00414879a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
